$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;

#signup{

    height: 100%;
    position: relative;

    /* CONTENEDOR PRINCIPAL */
	#wrap {
        position: relative;
		width: 100%;
	    min-height: 100%;

	    .container-wrap{
		    min-height: 100%;
		    position: relative;
		   	max-width: 450px;

		    .content{

		    	@media(max-width: $screen-xs-min){
					width:100%!important;
				}

				/* HEADER */
		    	.header{
		    		width: 100%;
		    		padding: 25px;

		    		@media(max-width: $screen-xs-min){
						padding: 10px;
					}
		    	}

		    	.body{
		    		background: #fff;
		    		padding: 30px 50px 10px 50px;
				    border-radius: 15px;
				    box-shadow: 0 20px 40px 0 rgba(23, 28, 33, 0.07), 0 4px 9px 0 rgba(23, 28, 33, 0.06);
				    -webkit-transition: all .15s ease;
				    transition: all .15s ease;

				    @media(max-width: $screen-xs-min){
						background: transparent;
						box-shadow: none!important;
						padding: 0px 50px 0px 50px;

						h3{
							color: #fff!important;
							font-size: 20px;
							margin-top: 0px;
						}
					}
		    	}

		    	/* FOOTER */

		    	.footer{
		    		    display: inline-block;
					    width: 100%;
					    text-align: center;
					    margin-top: 10px;

					    @media(max-width: $screen-xs-min){
							margin-top: 0px;
						}

		    		.new-account{
		    			display: inline-block;
		    			padding: 10px;
		    			opacity: 0.7;

		    			a{
		    				line-height: initial;
		    				color: #fff;
		    				cursor: pointer;

		    				b{
		    					letter-spacing: 0.5px;
		    				}
		    			}

		    			&:hover{
		    				opacity: 1;
		    			}
		    		}
		    	}
		    }
	    }
	}
}