// *****************************************************************************
// variables
// *****************************************************************************
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
.nativeDropdown {
    position: relative;
    margin-right: 10px;
	width: 100%;
	float: left;

	@media(max-width: $screen-xs-min){
		width: 100%;
    	margin-bottom: 10px;

	}

    .selectDropdown {
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        -moz-border-radius-bottomleft: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        z-index: 1;
        height: 52px;
        position: relative;
        border:  1px solid #ccc;
        background: #ffffff;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 0;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:before{
            font: normal normal normal 24px/1 MaterialDesignIcons;
            content: "\f1d1";
            color: #ccc;
            font-size: 30px;
            position: absolute;
            right: 10px;
            top: 12px;
        }

        select {
            cursor: pointer;
            opacity: 0;
            z-index: 10;
            filter: alpha(opacity=0);
            width: 100%;
            height: 52px;
            border: 0 none;
            margin: 0;
            padding: 18px 12px 18px 12px;
            background: none;
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: window;
            color: #333333;
            font: 1em Arial;
            line-height: 1.230769em;

            
        }

        .custom-select {
            height: 52px;
            line-height: 52px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-left: 45px;
            z-index: 1;
            overflow: hidden;
            text-overflow: ellipsis;
		    white-space: nowrap;
		    padding-right: 30px;
        }
    } 
}